@inherits LayoutComponentBase

<div class="erp-layout">
    <Sidebar />
    <div class="erp-main">
        <Topbar />
        <div class="erp-content">
            @Body
        </div>
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
