@page "/client/list/create"
@namespace QMCH.Components.Pages
@rendermode InteractiveServer

<PageTitle>@(isEdit ? "Edit Client" : "Add Client") - QHMCPro</PageTitle>

<div class="page-header">
    <h1 class="page-title">CLIENT MANAGEMENT : @(isEdit ? "EDIT" : "CREATE")</h1>
    <div class="breadcrumb">
        <span>Client</span> / <span>Client List</span> / <span>@(isEdit ? "Edit" : "Create")</span>
    </div>
</div>

<div class="client-header">
    <h2>Client:</h2>
</div>

<div class="tab-navigation">
    <button class="tab-btn">
        <i class="fa fa-wrench"></i> Services Interruption
    </button>
    <button class="tab-btn">
        <i class="fa fa-compass"></i> Direction/Misc
    </button>
    <button class="tab-btn">
        <i class="fa fa-th"></i> Custom Fields
    </button>
    <button class="tab-btn">
        <i class="fa fa-history"></i> Visit History
    </button>
    <button class="tab-btn">
        <i class="fa fa-file-text"></i> Notes
    </button>
</div>

<div class="tab-navigation secondary">
    <button class="tab-btn">
        <i class="fa fa-ban"></i> Exclusions / Preferences
    </button>
    <button class="tab-btn">
        <i class="fa fa-user-md"></i> Supervisory Visits
    </button>
    <button class="tab-btn">
        <i class="fa fa-bell"></i> Reminders
    </button>
    <button class="tab-btn">
        <i class="fa fa-medkit"></i> Skill Needs
    </button>
    <button class="tab-btn">
        <i class="fa fa-file"></i> Documents
    </button>
</div>

<div class="tab-navigation tertiary">
    <button class="tab-btn active">
        <i class="fa fa-user"></i> Personal Data
    </button>
    <button class="tab-btn">
        <i class="fa fa-clipboard"></i> Service Order
    </button>
    <button class="tab-btn">
        <i class="fa fa-calendar"></i> Calendar
    </button>
    <button class="tab-btn">
        <i class="fa fa-phone"></i> Contacts
    </button>
    <button class="tab-btn orange-btn">
        <i class="fa fa-arrow-left"></i> Back
    </button>
</div>

<EditForm Model="model" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />

    <div class="form-container">
        <div class="form-section">
            <div class="form-row-inline">
                <div class="form-group-inline">
                    <label class="form-label">Client ID</label>
                    <InputText @bind-Value="model.ClientId" class="form-control" />
                </div>
                <div class="form-group-inline">
                    <label class="form-label">Qatar ID</label>
                    <InputText @bind-Value="model.QatarId" class="form-control" />
                </div>
                <div class="form-group-inline">
                    <label class="form-label">Client Type</label>
                    <InputSelect @bind-Value="model.ClientTypeId" class="form-control">
                        <option value="">--Select--</option>
                        <option value="1">Home Care</option>
                        <option value="2">Medical Care</option>
                    </InputSelect>
                </div>
                <div class="form-group-inline">
                    <label class="form-label">Service Type</label>
                    <InputSelect @bind-Value="model.ServiceTypeId" class="form-control">
                        <option value="">--Select--</option>
                        <option value="1">Nursing</option>
                        <option value="2">Therapy</option>
                    </InputSelect>
                </div>
            </div>

            <div class="form-row-inline">
                <div class="form-group-inline">
                    <label class="form-label">First Name</label>
                    <InputText @bind-Value="model.FirstName" class="form-control" />
                    <ValidationMessage For="() => model.FirstName" />
                </div>
                <div class="form-group-inline">
                    <label class="form-label">Status</label>
                    <InputSelect @bind-Value="model.Status" class="form-control">
                        <option>Active</option>
                        <option>Inactive</option>
                        <option>Discharged</option>
                        <option>On Hold</option>
                    </InputSelect>
                </div>
                <div class="form-group-inline">
                    <label class="form-label">Reason</label>
                    <InputSelect @bind-Value="model.Reason" class="form-control">
                        <option value="">--Select--</option>
                    </InputSelect>
                </div>
                <div class="profile-picture">
                    <div class="avatar-placeholder">
                        <i class="fa fa-user"></i>
                    </div>
                    <button type="button" class="btn-picture"><i class="fa fa-camera"></i> Add Picture</button>
                    <button type="button" class="btn-picture danger"><i class="fa fa-times"></i> Delete Picture</button>
                    <button type="button" class="btn-picture primary"><i class="fa fa-map-marker"></i> GEO Location</button>
                </div>
            </div>

            <div class="form-row-inline">
                <div class="form-group-inline">
                    <label class="form-label">Last Name</label>
                    <InputText @bind-Value="model.LastName" class="form-control" />
                    <ValidationMessage For="() => model.LastName" />
                </div>
                <div class="form-group-inline">
                    <label class="form-label">Middle Name</label>
                    <InputText @bind-Value="model.MiddleName" class="form-control" />
                </div>
                <div class="form-group-inline">
                    <label class="form-label">Service Start Date</label>
                    <InputDate @bind-Value="model.ServiceStartDate" class="form-control" />
                </div>
            </div>

            <div class="form-row-inline">
                <div class="form-group-inline">
                    <label class="form-label">Phone 1</label>
                    <InputText @bind-Value="model.Phone" class="form-control" />
                </div>
                <div class="form-group-inline">
                    <label class="form-label">Phone 2</label>
                    <InputText @bind-Value="model.Phone2" class="form-control" />
                </div>
                <div class="form-group-inline">
                    <label class="form-label">Service End Date</label>
                    <InputDate @bind-Value="model.ServiceEndDate" class="form-control" />
                </div>
            </div>

            <div class="form-row-inline">
                <div class="form-group-inline">
                    <label class="form-label">Inquiry Date</label>
                    <InputDate @bind-Value="model.InquiryDate" class="form-control" />
                </div>
                <div class="form-group-inline">
                    <label class="form-label">Assessment Date</label>
                    <InputDate @bind-Value="model.AssessmentDate" class="form-control" />
                </div>
                <div class="form-group-inline blacklist-section">
                    <label class="checkbox-label">
                        <InputCheckbox @bind-Value="model.IsBlacklisted" />
                        Click here to put client blacklist
                    </label>
                </div>
            </div>

            <h3 class="section-title">Client Home Address</h3>
            <div class="address-section">
                <div class="form-row-inline">
                    <div class="form-group-inline">
                        <label class="form-label">Street</label>
                        <InputText @bind-Value="model.Street" class="form-control" />
                    </div>
                </div>
                <div class="form-row-inline">
                    <div class="form-group-inline">
                        <label class="form-label">Area</label>
                        <InputSelect @bind-Value="model.Area" class="form-control">
                            <option value="">--Select--</option>
                        </InputSelect>
                    </div>
                    <div class="form-group-inline">
                        <label class="form-label">State</label>
                        <InputText @bind-Value="model.State" class="form-control" />
                    </div>
                </div>
                <div class="form-row-inline">
                    <div class="form-group-inline">
                        <label class="form-label">Building Number</label>
                        <InputText @bind-Value="model.BuildingNumber" class="form-control" />
                    </div>
                    <div class="form-group-inline">
                        <label class="form-label">Street Number</label>
                        <InputText @bind-Value="model.StreetNumber" class="form-control" />
                    </div>
                </div>
                <div class="form-row-inline">
                    <div class="form-group-inline">
                        <label class="form-label">Country</label>
                        <InputSelect @bind-Value="model.Country" class="form-control">
                            <option>Qatar</option>
                        </InputSelect>
                    </div>
                    <div class="form-group-inline">
                        <label class="form-label">Zip#</label>
                        <InputText @bind-Value="model.ZipCode" class="form-control" />
                    </div>
                </div>
            </div>

            <h3 class="section-title">Client Billing Address</h3>
            <p class="subtitle">(If different from home address)</p>
            <div class="address-section">
                <div class="form-row-inline">
                    <div class="form-group-inline">
                        <label class="form-label">Street</label>
                        <InputText @bind-Value="model.BillingStreet" class="form-control" />
                    </div>
                </div>
                <div class="form-row-inline">
                    <div class="form-group-inline">
                        <label class="form-label">Area</label>
                        <InputSelect @bind-Value="model.BillingArea" class="form-control">
                            <option value="">--Select--</option>
                        </InputSelect>
                    </div>
                    <div class="form-group-inline">
                        <label class="form-label">State</label>
                        <InputText @bind-Value="model.BillingState" class="form-control" />
                    </div>
                </div>
                <div class="form-row-inline">
                    <div class="form-group-inline">
                        <label class="form-label">Building Number</label>
                        <InputText @bind-Value="model.BillingBuildingNumber" class="form-control" />
                    </div>
                    <div class="form-group-inline">
                        <label class="form-label">Street Number</label>
                        <InputText @bind-Value="model.BillingStreetNumber" class="form-control" />
                    </div>
                </div>
                <div class="form-row-inline">
                    <div class="form-group-inline">
                        <label class="form-label">Country</label>
                        <InputSelect @bind-Value="model.BillingCountry" class="form-control">
                            <option>Qatar</option>
                        </InputSelect>
                    </div>
                    <div class="form-group-inline">
                        <label class="form-label">Zip#</label>
                        <InputText @bind-Value="model.BillingZipCode" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-save">
            <i class="fa fa-save"></i> Save & Edit
        </button>
        <button type="button" class="btn btn-save-close" @onclick="HandleSubmitAndClose">
            <i class="fa fa-save"></i> Save & Close
        </button>
        <button type="button" class="btn btn-close" @onclick="GoBack">
            <i class="fa fa-times"></i> Close
        </button>
    </div>
</EditForm>
